%ul.nav.regional
  - if current_view?(exterior_paths)
    %li{ class: current_view?(roofing_path) }
      = link_to_unless_current 'Roofing', roofing_path

    %li{ class: current_view?(siding_path) }
      = link_to_unless_current 'Siding', siding_path

    %li{ class: current_view?(gutters_path) }
      = link_to_unless_current 'Gutters', gutters_path

    %li{ class: current_view?(green_path) }
      = link_to_unless_current 'Green roofs', green_path

    %li{ class: current_view?(stone_path) }
      = link_to_unless_current 'Cultured stone', stone_path

    %li{ class: current_view?(decks_path) }
      = link_to_unless_current 'Decks', decks_path


  - elsif current_view?(interior_paths)
    %li{ class: current_view?(kitchens_path) }
      = link_to_unless_current 'Kitchens', kitchens_path

    %li{ class: current_view?(bathrooms_path) }
      = link_to_unless_current 'Bathrooms', bathrooms_path

    %li{ class: current_view?(flooring_path) }
      = link_to_unless_current 'Flooring', flooring_path

    %li{ class: current_view?(windows_path) }
      = link_to_unless_current 'Windows', windows_path


  - elsif current_view?(mend_paths)
    %li{ class: current_view?(hail_path) }
      = link_to_unless_current 'Hail damage', hail_path

    %li{ class: current_view?(ice_path) }
      = link_to_unless_current 'Ice dams', ice_path

    %li{ class: current_view?(snow_path) }
      = link_to_unless_current 'Snow removal', snow_path

    %li{ class: current_view?(bats_path) }
      = link_to_unless_current 'Bat removal', bats_path
