.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Humane Bat Removal' }
    .xlarge-heading
      %h1 Humane Bat Removal
    %h2 Tired of Unwanted Pests Damaging Your Home?
    %p
      One of the first things people notice when they have bats is a rustling
      noise in their walls or ceiling.
    %figure.figure-article-right= image_tag gcs('bat_removal_2.jpg')
    %p
      Once a bat makes its way into the house or leaves a disgusting mess in the
      attic, they've usually had enough and call us. Find out how we go about
      = link_to 'getting rid of bats', new_inquiry_path
      and keeping them out.
    %p
      Getting rid of bats actually involves two steps:
      %em bat removal
      and
      %em bat exclusion.
      This means we install equipment that works with the bats' natural
      habits to get them out of your house (the bat removal part). That same
      equipment works to prevent them from re-entering your home once they've
      gone (bat exclusion).
      %strong
        Whether you have two bats flying through your child's
        bedroom at night or a colony of 200 in your attic, our bat removal and
        exclusion services will work to get rid of bats and keep them away
        permanently.
    %p
      Bats create large roosting colonies inside the roofs of exposed buildings.
    %figure.figure-article-left= image_tag gcs('bat_removal_3.jpg')
    %p
      The bats leave mass amounts of droppings which are unpleasant in odor and
      appearance, but more importantly are a major source of the respiratory
      disease histoplamosis.
    %p
      Bat removal involves carefully inspecting a building to find how
      the animals are using it and then setting up an exclusion system.
    %p At #{rh2}, we can get rid of your unwanted pests.
    %p
      %strong Bats are not killed, exterminated, or trapped in this process ...

    %p
      = link_to 'Contact us today', new_inquiry_path
      for additional information or to arrange an inspection and customized
      quote ...
    %p Please call us at (608) 445-6511

  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %h3 We'll remove the bats for you!!
      %figure.figure-aside-left= image_tag gcs('bat_removal_small.jpg')
      %p
        The process is perfectly safe for you, your family, the integrity of your
        home and the bats.
      %h3 Bat Facts
      %p
        While 99% of all bats are rabies free, they still rank in the number three
        position behind raccoons and skunks for giving human beings rabies. It has
        been reported that during the past 20 years, there have been more human
        rabies cases that began with a bat bite in the United States than of any
        other wildlife group.
