%article
  %h1 Exterior Services

  .galery
    %figure= image_tag 'roofing_page.jpg'
    %figure= image_tag 'siding_page.jpg'
    %figure= image_tag 'gutters_page-small.jpg'
    %figure= image_tag 'greenroof_residential1_small.jpg'
    %figure= image_tag 'exteriors-cultured_stone.jpg'
    %figure= image_tag 'decks_page.jpg'
