- provide :main_container_class, 'pantheon'

%article
  = render 'contact_prompt_heading', { h1: 'Exterior Services' }

  %nav.galery
    %figure.nav
      = image_tag 'nav-services-roofing.jpg', class: 'nav'
      .overlay
        .overlay-text Roofing
    %figure.nav
      = image_tag 'nav-services-siding.jpg', class: 'nav'
      .overlay
        .overlay-text Siding
    %figure.nav
      = image_tag 'nav-services-gutters.jpg', class: 'nav'
      .overlay
        .overlay-text Gutters
    %figure.nav
      = image_tag 'nav-services-green.jpg', class: 'nav'
      .overlay
        .overlay-text Green roofs
    %figure.nav
      = image_tag 'nav-services-stone.jpg', class: 'nav'
      .overlay
        .overlay-text Cultured stone
    %figure.nav
      = image_tag 'nav-services-decks.jpg', class: 'nav'
      .overlay
        .overlay-text Decks
