- provide :main_container_class, 'pantheon'

%article
  = render 'contact_prompt_heading', { h1: 'Exterior Services' }

  %nav.pantheon
    %figure.nav
      = link_to roofing_path do
        = image_tag gcs('nav-services-roofing.jpg'), class: 'nav'
        .overlay
          .overlay-text Roofing
    %figure.nav
      = link_to siding_path do
        = image_tag gcs('nav-services-siding.jpg'), class: 'nav'
        .overlay
          .overlay-text Siding
    %figure.nav
      = link_to gutters_path do
        = image_tag gcs('nav-services-gutters.jpg'), class: 'nav'
        .overlay
          .overlay-text Gutters
    %figure.nav
      = link_to green_path do
        = image_tag gcs('nav-services-green.jpg'), class: 'nav'
        .overlay
          .overlay-text Green roofs
    %figure.nav
      = link_to stone_path do
        = image_tag gcs('nav-services-stone.jpg'), class: 'nav'
        .overlay
          .overlay-text Cultured stone
    %figure.nav
      = link_to decks_path do
        = image_tag gcs('nav-services-decks.jpg'), class: 'nav'
        .overlay
          .overlay-text Decks
