- provide :main_container_class, 'pantheon'

%article
  = render 'contact_prompt_heading', { h1: 'Exterior Services' }

  %nav.galery
    %figure= image_tag 'nav-services-roofing.jpg', class: 'nav'
    %figure= image_tag 'nav-services-siding.jpg', class: 'nav'
    %figure= image_tag 'nav-services-gutters.jpg', class: 'nav'
    %figure= image_tag 'nav-services-green.jpg', class: 'nav'
    %figure= image_tag 'nav-services-stone.jpg', class: 'nav'
    %figure= image_tag 'nav-services-decks.jpg', class: 'nav'
