.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Hail Damage' }
    .xlarge-heading
      %h1 Hail Damage
    %p
      If you live in an area that is considered to be a prime location for hail
      storms, your home or business is extremely susceptible to roof damage.
    %figure.article-figure-right= image_tag gcs('hail_damage-2.jpg')
    %p
      What do you do when you think your home or commercial building’s roof has
      been damaged by hail or wind? You call our roof replacement specialists at
      #{rh2}. Our helpful, knowledgeable, roofing experts will be there to help
      you with any damage to your roof.
    %p
      Typically, hail must be around 1¼ inches in diameter to cause damage to
      either heavy composite shingles or wood shake shingles. Composite shingles
      made of lightweight materials may sustain damage from hailstones as small
      as 1-inch in diameter. And, if you already have some signs of wear or
      deterioration on any composite shingles, hail may damage your roof if it
      is ¾-inch to 1-inch in diameter.
    %h2 Hail Damage Repair
    %p
      If a hail storm has recently passed through your area, you should have
      your roof inspected by a professional. One determinate of whether you may
      have hail or wind damage to your roof is to pay close attention to any
      other damage that may be observable after a storm.
    %figure.article-figure-left= image_tag gcs('hail_damage-3.jpg')
    %p
      In general, if a hail storm is strong enough to damage other objects at
      ground level, including nearby cars, wood fences, exterior siding,
      shutters or gutters, then you should contact #{rh2} to have your roof
      inspected for damage. Another tell-tell sign is if you see a significant
      amount of shingle granules at the ends of downspouts. If you see these
      granules in your downspouts, you may have damage to your roof, hail or no
      hail storm. If you suspect that your roof may have damage from hail,
      contact our experienced, licensed Hail Damage Repair Roofers at #{rh2}
      for an estimate of your roof replacement project.
    %p
      Call or
      = mail_to 'info@rhouse2.com', 'Email', subject: 'Hail Damage'
      us and receive a FREE home inspection(s) to determine if your home has
      sustained hail damage, wind damage or storm damage. If need be, one of our
      Claims Specialists will assist you and educate you about the process of
      making an insurance claim.
    %p 608-445-6511

  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %h3 Roofing Workmanship You Can Trust.
      %p
        Have a severely damaged roof that needs to be replaced?
      %figure.aside-figure-right= image_tag gcs('hail_damage-aside.jpg')
      %p
        Whether it's due to a specific storm, an act of Mother Nature, or just age
        and wear, #{rh2} has prompt, qualified professionals ready to assist you
        with your roofing needs.
      %p
        Our representatives will responsibly assess your
        roof condition and offer an appropriate solution to your problems.
      %p
        We specialize in roof repairs and full roof replacements - and we get
        the job done in a timely and professional manner.
