%article
  %figure.float-right.mt--3rem= image_tag 'ice_dam-2.jpg'

  %h1 Ice Dams

  %h2 Ice Dam Signs

  %p Does your house look like this one in the winter? I drive down the road all winter long and see house after house with the tell tale signs of ice dams. Those massive icicles hanging down from the roof eaves are a sure sign of a potential ice dam problem in the near future.

  %p Ice dams are formed when warm air leaks into the attic space and warms the roof enough to start melting snow. This combined with snow melting from the sun causes the melting water to start running down the roof towards the eave. As the melting water reaches the edge of the roof it ends up over the part of the roof that’s cold and it freezes.

  %p As the cycle continues the ice builds up a dam near the eave. This causes the continuing melting water to back up behind the “ice dam”. When the water get’s deep enough it begins to back into the shingles and leak into your home.

  %figure.float-left= image_tag 'ice_dam-3.jpg'

  %p At #{rh2}, we can help prevent ice dams.

  %h2 What should I do about my ice dam?

  %p #{rh2} can help you clean-up the damage caused by your ice dam as well as fix your roof to help prevent future ice dam damage.  Please call us at (608) 445-6511

  %aside
    %h3 We'll remove the snow for you!!

    %figure= image_tag 'ice_dam-aside.jpg'

    %p Ice dams are the result of several factors all working at the same time. They include:

    %ul
      %li Inadequate ceiling insulation
      %li Poor soffit and ridge vent ventilation
      %li Cold temperatures
      %li Sunny days
