- provide :main_container_class, 'pantheon'

%article
  = render 'contact_prompt_heading', { h1: 'Services' }

  %nav.pantheon
    %figure.nav
      = link_to kitchens_path do
        = image_tag gcs('nav-services-kitchens.jpg'), class: 'nav'
        .overlay
          .overlay-text Kitchens
    %figure.nav
      = link_to bathrooms_path do
        = image_tag gcs('nav-services-bathrooms.jpg'), class: 'nav'
        .overlay
          .overlay-text Bathrooms
    %figure.nav
      = link_to roofing_path do
        = image_tag gcs('nav-services-roofing.jpg'), class: 'nav'
        .overlay
          .overlay-text Roofing
    %figure.nav
      = link_to hail_damage_path do
        = image_tag gcs('nav-services-hail.jpg'), class: 'nav'
        .overlay
          .overlay-text Hail Damage
    %figure.nav
      = link_to ice_dams_path do
        = image_tag gcs('nav-services-ice-dams.jpg'), class: 'nav'
        .overlay
          .overlay-text Ice Dams
    %figure.nav
      = link_to bat_removal_path do
        = image_tag gcs('nav-services-bat-removal.jpg'), class: 'nav'
        .overlay
          .overlay-text Humane Bat Removal
