- provide :main_container_class, 'pantheon'

%article
  = render 'contact_prompt_heading', { h1: 'Other Services' }

  %nav.galery
    %figure= image_tag 'nav-services-hail.jpg', class: 'nav'
    %figure= image_tag 'nav-services-ice-dams.jpg', class: 'nav'
    %figure= image_tag 'nav-services-snow-removal.jpg', class: 'nav'
    %figure= image_tag 'nav-services-bat-removal.jpg', class: 'nav'
