- provide :main_container_class, 'pantheon'

%article
  = render 'contact_prompt_heading', { h1: 'Other Services' }

  %nav.pantheon
    %figure.nav
      = link_to hail_path do
        = image_tag gcs('nav-services-hail.jpg'), class: 'nav'
        .overlay
          .overlay-text Hail Damage
    %figure.nav
      = link_to ice_path do
        = image_tag gcs('nav-services-ice-dams.jpg'), class: 'nav'
        .overlay
          .overlay-text Ice Dams
    %figure.nav
      = link_to snow_path do
        = image_tag gcs('nav-services-snow-removal.jpg'), class: 'nav'
        .overlay
          .overlay-text Snow Removal
    %figure.nav.bat
      = link_to bats_path do
        = image_tag gcs('nav-services-bat-removal.jpg'), class: 'nav'
        .overlay
          .overlay-text Bat Removal
