.griddle
  %article
    .small-heading
      = render 'contact_prompt_heading', { h1: 'Roofing' }
    .xlarge-heading
      %h1 Roofing
    %p
      The most important part of the physical structure of your house is your
      roof. This part of the house is exposed to high winds, pouring rain, sleet
      and snow and therefore most susceptible to damage.
    %figure.article-figure-right= image_tag gcs('roof.jpg')
    %p
      The roof of your house
      should be inspected after every winter to assess roof damage. Making this
      a habit will save you sudden unexpected expenses, that can arise from
      repairs that are need to repair a damaged roof. A well-maintained roof is
      the best protection that you can give the physical structure of your
      house.
    %figure.article-figure-left= image_tag gcs('roofing_page.jpg')
    %p
      Asphalt roofs are intended to last only for about 15 years. Roofs made of
      slate, clay and tile can last for longer only when well maintained.
      Experts have found that most owners do not inspect their roofs regularly.
    %p
      Here are a few things that you should remember while inspecting your roof
      for damages:
    %ul.article-ul
      %li.article-li
        Check if there any trees growing close to the roof. Trees can cause
        enormous amount of damage to the roof. Branches of trees that hang over
        the roof can break, puncture and damage the roofing material. Leaves can
        block the gutter system on the roof, allowing rainwater to collect and
        this can cause leaks in the attic. Keep the trees close to the roof
        trimmed at all times.
      %li.article-li
        Check for black streaks or discoloration on the roof. This discoloration
        is a result of mold, algae or fungus growing. This is especially
        a problem when the humidity is high and on roofs that are in the shade
        for a long time. If the roof is not treated it can result in damage to
        the roofing material causing leaks in the house. Trim trees to increase
        air circulation and install zinc strips along the roof ridges. These
        strips form zinc oxide when they react with rainwater, which forms
        a protective coating, which prevents the growth of mold, fungus etc.
      %li.article-li
        Over a period of time roofing material can get torn off or can get weak.
        This weak roofing material can get blown off by strong winds, thus
        making the home interiors vulnerable to water damage. While inspecting
        if you find that the roof is damaged then repair it immediately, as it
        will only get worse with time.

  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %p
        One way to fix the problem is always use the finest products available.
        #{rh2} uses the finest roofing products available including:

      %ul.roofing-suppliers-ul
        %li.roofing-supplier-li
          %figure.mr--1rem
            = link_to image_tag(gcs('logo-CarlisleSynTec.jpg'),
              class: 'roofing-supplier-carlisle-img'),
             'http://www.carlisle-syntec.com'
          - carlisle = "Carlisle SynTec single-ply membrane roofing systems      |
            and materials."                                                      |
          = link_to carlisle, 'http://www.carlisle-syntec.com'
        %li.roofing-supplier-li
          %figure.mr--1rem
            = link_to image_tag(gcs('logo-CertainTeed.jpg'),
              class: 'roofing-supplier-certainteed-img'),
              'http://www.certainteed.com/products/roofing'
          - certainteed = "CertainTeed Corporation is a leading North American   |
            manufacturer of building roofing materials."                         |
          = link_to certainteed, 'http://www.certainteed.com/products/roofing'
        %li.roofing-supplier-li
          %figure.mr--1rem
            = link_to image_tag(gcs('logo-GAF.jpg'),
              class: 'roofing-supplier-gaf-img'), 'http://www.gaf.com/'
          - gaf = "Founded in 1886, GAF has become North America’s largest       |
            manufacturer of commercial and residential roofing."                 |
          = link_to gaf, 'http://www.gaf.com/'
