%article
  %h1 Portfolio :: Decks

  .griddle.portfolio
    %figure
      = image_tag 'decks/IMG_0957.jpg', class: 'portfolio'
      %figcaption
        %p Front the first deck board

    %figure
      = image_tag 'decks/IMG_0958.jpg', class: 'portfolio'
      %figcaption
        %p Any type of deck

    %figure= image_tag 'decks/IMG_0959.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0960.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0961.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0961.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0962.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0963.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0964.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0965.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0966.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0967.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0968.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0969.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0970.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0971.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0972.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0973.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0974.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0975.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0976.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0993.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0994.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_0995.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1062.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1063.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1064.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1065.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1066.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1067.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1068.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1069.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1070.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1071.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1072.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1073.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1074.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1075.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1076.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1077.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1078.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1079.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1080.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1081.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1082.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1083.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1084.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1085.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1086.jpg', class: 'portfolio'
    %figure= image_tag 'decks/IMG_1087.jpg', class: 'portfolio'

    %figure
      = image_tag 'decks/IMG_1088.jpg', class: 'portfolio'
      %p
        To the very last board. #{rh2} will treat your deck like it's our
        house too!
