- provide :main_class, 'portfolio'
- provide :main_container_class, 'portfolio'

%flooring
  = render 'contact_prompt_heading', { h1: 'Portfolio :: Flooring' }

  %section.portfolio
    %figure
      = image_tag gcs('flooring/100_0380.jpg'), class: 'portfolio'
      %figcaption
        %h4 1. Flooring Before (a)

    %figure
      = image_tag gcs('flooring/100_0383.jpg'), class: 'portfolio'
      %figcaption
        %h4 2. Flooring Before (b)

    %figure
      = image_tag gcs('flooring/100_0385.jpg'), class: 'portfolio'
      %figcaption
        %h4 3. Flooring After (a)
        %p Wood flooring, tile flooring, ceramic flooring & more.

    %figure
      = image_tag gcs('flooring/100_0387.jpg'), class: 'portfolio'
      %figcaption
        %h4  4. Flooring After (b)
        %p Transform your old room to office space with a new wood floor.
