%h1 Portfolios

%p
  Our home improvements photo gallery is always growing with new photos being
  continuously added, so please check back to this section frequently to see
  the latest photos of R House 2 home improvement projects in Dane County and
  all of southern Wisconsin.

%menu.galery
  %figure= image_tag 'portfolios-roofing-5-after.jpg', width: '200'
  %figure= image_tag 'portfolios-siding-3-during.jpg', width: '200'
  %figure= image_tag 'decks/IMG_1086.jpg', width: '200'
  %figure= image_tag 'flooring/100_0385.jpg', width: '200'
  %figure= image_tag 'windows/window6.jpg', width: '200'
