- provide :main_class, 'pantheon portfolios'
- provide :main_container_class, 'pantheon portfolios'

%article
  = render 'contact_prompt_heading', { h1: 'Portfolios' }
  %p
    Our home improvements photo gallery is always growing with new photos being
    continuously added, so please check back to this section frequently to see
    the latest photos of R House 2 home improvement projects in Dane County and
    all of southern Wisconsin.

  %nav.pantheon
    %figure.nav
      = link_to portfolios_roofing_path do
        = image_tag gcs('nav-portfolios-roofing.jpg'), class: 'nav'
        .overlay
          .overlay-text Roofing
    %figure.nav
      = link_to portfolios_siding_path do
        = image_tag gcs('nav-portfolios-siding.jpg'), class: 'nav'
        .overlay
          .overlay-text Siding
    %figure.nav
      = link_to portfolios_decks_path do
        = image_tag gcs('nav-portfolios-decks.jpg'), class: 'nav'
        .overlay
          .overlay-text Decks
    %figure.nav
      = link_to portfolios_kitchens_path do
        = image_tag gcs('nav-portfolios-kitchens.jpg'), class: 'nav'
        .overlay
          .overlay-text Kitchens
    %figure.nav
      = link_to portfolios_bathrooms_path do
        = image_tag gcs('nav-portfolios-bathrooms.jpg'), class: 'nav'
        .overlay
          .overlay-text Bathrooms
    %figure.nav
      = link_to portfolios_flooring_path do
        = image_tag gcs('nav-portfolios-flooring.jpg'), class: 'nav'
        .overlay
          .overlay-text Flooring
    %figure.nav
      = link_to portfolios_windows_path do
        = image_tag gcs('nav-portfolios-windows.jpg'), class: 'nav'
        .overlay
          .overlay-text Windows
    %aside.thankyou
      .text-center{ style: 'font-size: 2rem;'}
        %i.fas.fa-hard-hat
      %h3.text-center.m--0.mt--8
        Thank you for
        %br
        checking out our work!
