%article
  = render 'contact_prompt_heading', { h1: 'Portfolios' }
  %p
    Our home improvements photo gallery is always growing with new photos being
    continuously added, so please check back to this section frequently to see
    the latest photos of R House 2 home improvement projects in Dane County and
    all of southern Wisconsin.

  %nav.galery
    %figure= image_tag 'nav-portfolios-roofing.jpg', class: 'nav'
    %figure= image_tag 'nav-portfolios-siding.jpg', class: 'nav'
    %figure= image_tag 'nav-portfolios-decks.jpg', class: 'nav'
    %figure= image_tag 'nav-portfolios-flooring.jpg', class: 'nav'
    %figure= image_tag 'nav-portfolios-windows.jpg', class: 'nav'
