- provide :main_class, 'portfolio'
- provide :main_container_class, 'portfolio'

%article
  = render 'contact_prompt_heading', { h1: 'Portfolio :: Roofing' }

  %section.portfolio
    - @roofing_portfolios.each do |roofing_portfolio|
      - if roofing_portfolio.images.present?
        - roofing_portfolio.images.ordered.each do |image|
          %figure
            = image_tag image.file, class: 'portfolio'
            %figcaption
              %h4= image.caption_heading if image.caption_heading.present?
              %p= image.caption_text if image.caption_text.present?
              %p= image.comment if image.comment.present?
