%h1 Admin testimonials

%table
  %thead
    %tr
      %th Body
      %th Client signature
      %th Job started at
      %th Job completed at
      %th
      %th
      %th

  %tbody
    - @admin_testimonials.each do |admin_testimonial|
      %tr
        %td= admin_testimonial.body
        %td= admin_testimonial.client_signature
        %td= admin_testimonial.job_started_at
        %td= admin_testimonial.job_completed_at
        %td= link_to 'Show', admin_testimonial
        %td= link_to 'Edit', edit_admin_testimonial_path(admin_testimonial)
        %td= link_to 'Destroy', admin_testimonial, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Testimonial', new_admin_testimonial_path
