.griddle
  %article
    %h1 R House 2
    -# TODO: uncomment if hero not shown/used
    -# %p
    -#   Located in Madison, Wisconsin, #{rh2} is Madison's premier full home
    -#   improvement company.
    %p
      From Dane County to all of southern Wisconsin, you will not find better
      products and customer service then #{rh2}.
    %h2 Professional Remodeling Services.
    %p
      #{rh2} is committed to excellence. Our goal is to provide our customers
      with unmatched service, quality and integrity.
    %figure.in-article-right= image_tag 'home_house1.jpg'
    %p
      We strive for 100% customer
      satisfaction. Because of this, we have earned an outstanding reputation
      servicing hundreds of homeowners with their exterior home improvement
      needs.
    %h2 Not your typical building contractor.
    %p
      Customer service and satisfaction are at the heart of every proposal we
      make, and you will see the difference as soon as we walk through the door.
      We promise quality craftsmanship, a friendly attitude and a clean
      worksite, all at a reasonable price.
    %h2 Respect.
    %p
      Our customers know that working with #{rh2} Remodeling means respect for
      them and respect for their home. Call us today to bring your home
      improvement ideas to life. We offer FREE estimates.
    .flexrow.justify-content--space-around
      %h3
        %em Call for a Free Estimate! 608-445-6511
    .flexrow.justify-content--space-around
      %h3
        %em "Remodeling Wisconsin"

  .grid-item
    = render 'contact_prompt_heading'
    %aside
      %h3 When you file A CLAIM, call #{rh2}
      %p
        If you receive damage to the exterior of your home due to hail, wind,
        etc., give us a call! Our experienced, trained professionals can assess
        the damage and work with your insurance company on your behalf to ensure
        you are treated fairly.
      .flexcol.align-items--center.text-center
        %strong #{rh2} can help ...
        %strong Call us 24/7 for emergency repair
        %br
        %strong 608-445-6511
