= form_for @admin_portfolio do |f|
  - if @admin_portfolio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_portfolio.errors.count, "error")} prohibited this admin_portfolio from being saved:"
      %ul
        - @admin_portfolio.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :service
    = f.select :service, %w(Roofing Siding Decks Flooring Windows),
      include_blank: true
  .field
    = f.label :description
    = f.text_area :description
  .flexrow
    .field.mr--2rem
      = f.label :job_started_at
      .flexrow= f.date_select :job_started_at, include_blank: true
    .field
      = f.label :job_completed_at
      .flexrow= f.date_select :job_completed_at, include_blank: true

  .fieldset
    = f.fields_for :images do |pf|
      = image_tag pf.object.file if pf.object.persisted?

      = pf.label :file
      = pf.file_field :file

      = pf.label :show_order,
        "Show order (already taken: #{@admin_portfolio.image_show_order_taken})"
      = pf.number_field :show_order

      = pf.label :caption_heading
      = pf.text_field :caption_heading

      = pf.label :caption_text
      = pf.text_field :caption_text

      = pf.label :comment
      = pf.text_field :comment

  .actions
    = f.submit nil, class: 'button'
