= form_for @admin_portfolio do |f|
  - if @admin_portfolio.errors.any?
    #error_explanation
      %h2= "#{pluralize(@admin_portfolio.errors.count, "error")} prohibited this admin_portfolio from being saved:"
      %ul
        - @admin_portfolio.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :service
    = f.select :service, %w(Roofing Siding Decks Flooring Windows),
      include_blank: true
  .field
    = f.label :description
    = f.text_area :description
  .flexrow
    .field.mr--2rem
      = f.label :job_started_at
      .flexrow= f.date_select :job_started_at, include_blank: true
    .field
      = f.label :job_completed_at
      .flexrow= f.date_select :job_completed_at, include_blank: true
  .actions
    = f.submit nil, class: 'button'
