= form_for @admin_portfolio do |f|
  - if @admin_portfolio.errors.any?
    #error_explanation
      %h2
        = "#{pluralize(@admin_portfolio.errors.count, "error")}   |
          prohibited this admin_portfolio from being saved:"      |
      %ul
        - @admin_portfolio.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :service
    = f.select :service, %w(Roofing Siding Decks Flooring Windows),
      include_blank: true
  .field
    = f.label :description
    = f.text_area :description
  .flexrow
    .field.mr--2rem
      = f.label :job_started_at
      .flexrow= f.date_select :job_started_at, include_blank: true
    .field
      = f.label :job_completed_at
      .flexrow= f.date_select :job_completed_at, include_blank: true

  = f.fields_for :images do |i|
    .fieldset
      %figure.griddle.admin-portfolio
        - if i.object.persisted?
          .flexcol
            = image_tag i.object.file
            = i.object.file.filename
        .flexcol
          = i.label :file
          = i.file_field :file

          = i.label :show_order,
            "Show order (taken:                                             |
            #{@admin_portfolio.unavailable_image_show_order.join(', ')})"   |
          = i.select :show_order,
            [i.object.show_order]+@admin_portfolio.available_image_show_order

          = i.label :caption_heading
          = i.text_field :caption_heading

          = i.label :caption_text
          = i.text_field :caption_text

          = i.label :comment
          = i.text_field :comment

  .actions
    = f.submit nil, class: 'button'
