- if @admin_portfolio.errors.any?
  #error_explanation
    %h2
      = "#{pluralize(@admin_portfolio.errors.count, "error")}   |
        prohibited this admin_portfolio from being saved:"      |
    %ul
      - @admin_portfolio.errors.full_messages.each do |message|
        %li= message

= form_for @admin_portfolio do |f|
  .field
    = f.label :service
    = f.select :service, Portfolio.options_for_select_service,
      include_blank: true
  .field
    = f.label :description
    = f.text_area :description
  .flexrow
    .field.mr--2rem
      = f.label :job_started_at
      .flexrow= f.date_select :job_started_at, include_blank: true
    .field
      = f.label :job_completed_at
      .flexrow= f.date_select :job_completed_at, include_blank: true

  - @admin_portfolio.new_or_persisted_images.each do |image|
    = f.fields_for :images, image do |ff|
      .fieldset
        %figure.griddle.admin-portfolio
          - if ff.object.persisted?
            .flexcol
              = image_tag ff.object.file
              = ff.object.file.filename
          .flexcol
            = ff.label :file
            = ff.file_field :file

            = ff.label :show_order,
              "Show order (taken:                                             |
              #{@admin_portfolio.unavailable_image_show_order.join(', ')})"   |
            = ff.text_field :show_order, class: 'show-order'

            = ff.label :caption_heading
            = ff.text_field :caption_heading

            = ff.label :caption_text
            = ff.text_area :caption_text, rows: 3

  .actions
    = f.submit nil, class: 'button'
