%h1 Editing portfolio

= render 'form'

= link_to 'Show', @admin_portfolio
\|
= link_to 'Index', admin_portfolios_path

%p
  %b Uploaded images: #{@admin_portfolio.images.reject(&:new_record?).size}
  %br
  - if @admin_portfolio.images.present?
    - @admin_portfolio.images.reject(&:new_record?).each do |image|
      .fieldset
        = image_tag image.file if image.file.attached?
        = image.show_order
        = image.caption_heading
        = image.caption_text
        = image.comment
