%p#notice= notice

%p
  %b Service:
  = @admin_portfolio.service
%p
  %b Description:
  = @admin_portfolio.description
%p
  %b Job started at:
  = @admin_portfolio.job_started_at
%p
  %b Job completed at:
  = @admin_portfolio.job_completed_at

= link_to 'Edit', edit_admin_portfolio_path(@admin_portfolio)
\|
= link_to 'Index', admin_portfolios_path

%p
  %strong Uploads:
  %br
  - if @admin_portfolio.images.attached?
    - @admin_portfolio.images.each do |image|
      = image_tag image
      = link_to image.filename, image, target: '_blank'
      %br
  - else
    %p no uploads
