%p#notice= notice

%p
  %b Service:
  = @admin_portfolio.service
%p
  %b Description:
  = @admin_portfolio.description
%p
  %b Job started at:
  = @admin_portfolio.job_started_at
%p
  %b Job completed at:
  = @admin_portfolio.job_completed_at

= link_to 'Edit', edit_admin_portfolio_path(@admin_portfolio)
\|
= link_to 'Index', admin_portfolios_path

%p
  %b Uploaded images: #{@admin_portfolio.images.size}
  %br
  - if @admin_portfolio.images.present?
    - @admin_portfolio.images.each do |image|
      .fieldset
        = image_tag image.file if image.file.attached?
        = image.show_order
        = image.caption_heading
        = image.caption_text
        = image.comment
        = link_to 'Delete', admin_image_path(image),
          method: :delete, data: { confirm: 'Are you sure?' }
