.flexrow.footer
  %p.footer.copyright
    R House 2 © 2005 -
    = Date.today.year
  %nav.footer
    %ul.menu.footer.small
      .flexrow
        - if user_signed_in?
          %li
            = link_to admin_portfolios_path do
              %i.fas.fa-user
        %li
          = link_to root_path do
            %i.fas.fa-home
      .flexrow
        %li= link_to 'About us', about_path
        %span= "|"
        %li= link_to 'Contact us', new_inquiry_path
        %span= "|"
        %li= link_to 'Testimonials', testimonials_path

    %ul.menu.footer.medium
      - if user_signed_in?
        %li
          = link_to admin_portfolios_path do
            %i.fas.fa-user
      %li
        = link_to root_path do
          %i.fas.fa-home
      %li= link_to 'About us', about_path
      %span= "|"
      %li= link_to 'Contact us', new_inquiry_path
      %span= "|"
      %li= link_to 'Testimonials', testimonials_path
