.flexrow.footer
  .copyright
    R House 2 © 2005 -
    = Date.today.year
  %nav.footer
    %ul
      %li= link_to 'About us', about_path
      %li= "|"
      %li= link_to 'Contact us', contact_path
      %li= "|"
      %li= link_to 'Testimonials', testimonials_path
