.flexrow.flexrow-footer
  %p.footer-copyright-p
    R House 2 © 2005 -
    = Date.today.year

  %nav
    %ul.menu.menu-footer
      .footer-icons
        - if user_signed_in?
          %li
            = link_to admin_portfolios_path do
              %i.fas.fa-user
        %li
          = link_to root_path do
            %i.fas.fa-home
      .footer-links
        %li= link_to 'About us', about_path
        %span.span-footer-links-pipe= "|"
        %li= link_to 'Contact us', new_inquiry_path
        %span.span-footer-links-pipe= "|"
        %li= link_to 'Testimonials', testimonials_path
