.title-bar{ data: { responsive_toggle: 'full-nav', hide_for: 'xmedium' } }
  .rh2-logo
    = link_to root_path do
      = image_tag 'logo-RH2-plain-squished.jpg',
        class: 'rh2-logo-responsive'
  -# %button.menu-icon{ data: { toggle: 'full-nav' }, type: 'button' }
  %button.fas.fa-hard-hat{ data: { toggle: 'full-nav' }, type: 'button' }

.top-bar#full-nav
  .top-bar-left
    .rh2-logo-headlines
      .rh2-logo
        = link_to root_path do
          = image_tag 'logo-RH2-plain-squished.jpg',
            class: 'rh2-logo-responsive'
      .rh2-headlines
        %h4 Your Home Improvement Specialist
        %h5 We Will Treat it Like Our House Too!
  .top-bar-right
    %nav.header
      = render 'flash'
      = render 'nav_global'
      - if lookup_context.exists?('nav_regional', path_prefixes, true)
        = render 'nav_regional'
