%li{ class: current_view?(roofing_path) }
  = link_to_unless_current 'Roofing', roofing_path do
    %span Roofing

%li{ class: current_view?(hail_damage_path) }
  = link_to_unless_current 'Hail damage', hail_damage_path do
    %span Hail damage

%li{ class: current_view?(ice_dams_path) }
  = link_to_unless_current 'Ice dams', ice_dams_path do
    %span Ice dams

%li{ class: current_view?(bat_removal_path) }
  = link_to_unless_current 'Bat removal', bat_removal_path do
    %span Bat removal

%li{ class: current_view?(kitchens_path) }
  = link_to_unless_current 'Kitchens', kitchens_path do
    %span Kitchens

%li{ class: current_view?(bathrooms_path) }
  = link_to_unless_current 'Bathrooms', bathrooms_path do
    %span Bathrooms
