%ul.nav
  %li= link_to_unless_current 'Home', root_path
  %li= link_to_unless_current 'Kitchens', '#'#kitchens_path
  %li= link_to_unless_current 'Bathrooms', '#'
  %li= link_to_unless_current 'Roofing', '#'
  %li= link_to_unless_current 'All services', '#'
  %li= link_to_unless_current 'Portfolios', '#'
  %li= link_to_unless_current 'Testimonials', '#'
  %li= link_to_unless_current 'Contact us', contact_path
  %li= link_to_unless_current 'About', about_path
