%li{ class: current_view?(roofing_path) }
  = link_to_unless_current 'Roofing', roofing_path do
    %span Roofing

%li{ class: current_view?(siding_path) }
  = link_to_unless_current 'Siding', siding_path do
    %span Siding

%li{ class: current_view?(gutters_path) }
  = link_to_unless_current 'Gutters', gutters_path do
    %span Gutters

%li{ class: current_view?(green_roofs_path) }
  = link_to_unless_current 'Green roofs', green_roofs_path do
    %span Greer roofs

%li{ class: current_view?(cultured_stone_path) }
  = link_to_unless_current 'Cultured stone', cultured_stone_path do
    %span Cultured stone

%li{ class: current_view?(decks_path) }
  = link_to_unless_current 'Decks', decks_path do
    %span Decks
