%ul.nav
  -# %li{ class: current_view?(root_path) }
  -#   - if current_page?(root_path)
  -#     %i.fas.fa-home
  -#   - else
  -#     = link_to root_path do
  -#       %i.fas.fa-home
  -#
  -# %li{ class: current_view?(root_path) }
  -#   = link_to_unless_current 'Home', root_path

  %li{ class: current_view?(exterior_paths) }
    = link_to_unless current_view?(exterior_path),
      'Exterior', exterior_path

  %li{ class: current_view?(interior_paths) }
    = link_to_unless current_view?(interior_path),
      'Interior', interior_path

  %li{ class: current_view?(mend_paths) }
    = link_to_unless current_view?(mend_path),
      'Other services', mend_path

  %li{ class: current_view?(portfolios_paths) }
    = link_to_unless current_view?(portfolios_path),
      'Portfolios', portfolios_path

  %li{ class: current_view?(testimonials_path) }
    = link_to_unless_current 'Testimonials', testimonials_path
