%ul.nav
  %li= link_to_unless_current 'Home', root_path
  %li= link_to_unless action_name.in?(interiors), 'Interior', kitchens_path
  %li= link_to_unless action_name.in?(exteriors), 'Exterior', siding_path
  %li= link_to_unless action_name.in?(repairs), 'Repair/Care', hail_path
  %li= link_to_unless_current 'Portfolios', '#'
  %li= link_to_unless_current 'Testimonials', testimonials_path
  %li= link_to_unless_current 'Contact us', contact_path
  %li= link_to_unless_current 'About', about_path
