= form_for @testimonial do |f|
  - if @testimonial.errors.any?
    #error_explanation
      %h2= "#{pluralize(@testimonial.errors.count, "error")} prohibited this testimonial from being saved:"
      %ul
        - @testimonial.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :client_signature
    = f.text_field :client_signature
  .field
    = f.label :job_started_at
    = f.date_select :job_started_at, include_blank: true
  .field
    = f.label :job_completed_at
    = f.date_select :job_completed_at, include_blank: true
  .actions
    = f.submit 'Save'
