!!!
%html
  %head
    %meta{ content: 'text/html; charset=UTF-8', http_equiv: "Content-Type" }
    %title Rhouse2
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all',
      data_turbolinks_track: 'reload'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Architects+Daughter'
    = stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Monteserrat'
    = javascript_include_tag 'application', data_turbolinks_track: 'reload'

  %body
    %header
      = image_tag 'logo-RHouse2.jpg', class: 'header__responsive-logo'
      %h4 Your Home Improvement Specialist
      %h5 We Will Treat it Like Our House Too!
    %nav
      = render 'nav_global'
      - if lookup_context.exists?('nav_regional', controller_name, true)
        = render 'nav_regional'
    %main
      = yield
